<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electronic QSL</title>
</head>

<body>
    <h1>Electronic QSL</h1>
{{ error }}
</body>
</html>

